<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
<h3>타임리프 템플릿 : spring el 테스트</h3>
<hr/>
<h3 th:text="${message}"></h3> <!-- th: 속성 이용하기 -->
<!-- 반복 -->
<ul>
    <li th:each="temp:${list}" th:text="${temp}"></li>
</ul>
<hr/>
<h3>[[${message}]]</h3> <!-- 인라인 표기 -->
<ul>
    <th:block th:each="str,status:${list}">
        <li>[[${str}]] - [[${status.index}]]</li>
    </th:block>
</ul>
<hr/>
<h3>타임리프 링크 link 테스트</h3>
<ul>
    <!-- / 기호는 루트 컨텍스트 패스-->
    <li>
        <a th:href="@{/spring(name='모모',age=24)}">
            go SPRING1
        </a>
    </li>
    <!--결과: http://localhost:8085/spring?name=모모&age=24
        spring.html이 없으므로 에러페이지 보입니다.-->
    <li>
        <a th:href="@{spring(name='모모',age=24)}">
            go SPRING2
        </a>
    </li>
    <!--결과: http://localhost:8085/sample/spring?name=모모&age=24-->
    <li>
        <a th:href="@{spring}">
            go SPRING3
        </a>
    </li>
    <!--결과: http://localhost:8085/sample/spring-->
</ul>
<hr/>
<h3>커뮤니티</h3>
<ul>
    <li>
        <a th:href="@{/community/list}">
            community
        </a>
    </li>
</ul>
<hr/>
<h3>멤버</h3>
<ul>
    <li>
        <a th:href="@{/member/login}">
            login
        </a>
    </li>
    <li>
        <a th:href="@{/member/join}">
            join
        </a>
    </li><li>
        <a th:href="@{/member/update}">
            update
        </a>
    </li>
</ul>
</body>
</html>